
body{
    font-size: 15px;
}

.mid {
    position: relative;
}

.mid table{
    position: relative;
    margin: 50px auto;
    width: 800px;
}

#add-name {
    width: 250px;
}

#add-phone {
    width: 250px;
}

#add-description {
    width: 220px;
}

#add-submit{
    position: relative;
}

#add-submit{
    width: 40px;
}

.inputs input{
    width: 100%;
}

#remove-ico-in-add{
    display: none;
    position: absolute;
    right: -25px;
}
